<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  Export Notes
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Export Settings</div>
	<div class="palm-list">					
		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtFilename" x-mojo-element="TextField"></div>      
				</div>
			</div>
		</div>
	</div>
</div>
<div id="btnStartExport" x-mojo-element="Button"></div>

<div x-mojo-loc='' class="palm-body-title" id="logStatus"></div>

<div x-mojo-loc='' class="palm-body-title" id="logOutput"></div>